@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .glyphicon{
    font-size: 50px;
}
</style>

<div class="space row">  
    <div class="col-md-5 col-lg-5">
        <div class="col-lg-2 col-md-2">
            <a href="#">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </div>
        
        <div class="col-lg-10 col-md-10">
            <h4>AVOID A HEFTY £1,000 FINE</h4>
            <h4>TAX & MOT YOUR VEHICLE ON TIME</h4>
        </div>
        
        
        <div class="col-lg-12 col-md-12">
            <h4>How It Works</h4>
            <ul>YOU:</ul>
            <li>Tell us your vehicle make and registration</li>
            <li>Pay just £1.99 & sit back whilst we do the rest</li>
            
            <ul>WE:</ul>
            <li>We check your Road Tax & MOT due dates for you</li>
            <li>We set-up your renewal reminders to notify you by email 28-days, 7-days & 1-day before your Tax & MOT due dates</li>
            <li>Plus, we email you a printable reminder disc you to display on your vehicle windscreen</li>

        </div>
    </div>
    
    <div class="col-md-7 col-lg-7">
        <img src="~/Content/img/Untaxed_Car.jpg" class="img-responsive"/>
    </div>  
    
</div>

<div class="row">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>